body {
  padding-top: 50px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.template {
  padding: 40px 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 2px;
  color: #d92111;
  text-align: center;
}
