body {
  padding-top: 50px;
  background: #3f3f3f;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: #7CC7E9;
}

.template {
  padding: 40px 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 2px;
  color: #FF4949;
  text-align: center;
}

#index {
  list-style: none;
}

#index .right {
  float: right;
}

#index .blog {
  color: #ed6394;
}

#index .projet {
  color: #6495ed;
}
