body{
  background: #3f3f3f;
  font-family: sans-serif;
  color: #7CC7E9;
  line-height: 1.4;
  padding: 10px;
  margin: auto;
  max-width: 800px;
}

h1, h2, h3, footer {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 2px;
  color: #FF4949;
}

h1 {
  color: #d0082d;
  text-decoration: underline overline;
}

h3 {
  color: #8F5EFF;
}

em, strong, a {
  color: #fff;
}

blockquote {
  border-left:.5em double #000;
  padding-left: 50px;
}

pre {
  max-width: 100%;
  word-wrap: break-word;
  background-color: #4e4e4e;
  border-radius: 15px;
  padding: 5px 5px 5px 30px;
}

code {
  font-family: monospace;
  color: #91d008;
  letter-spacing: 2px;
}

nav ul li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

nav ul {
  text-align: center;
}

header, article, footer {
  background-color: #232323;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

header img, article img, iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article img {
  border-radius: 2px;
  border-color: #fff;
  border-style: groove;
}

#index {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

#index .right {
  float: right;
}

#index .blog {
  color: #ed6394;
}

#index .projet {
  color: #6495ed;
}
