<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">Kevin B. P.</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if page.id == "/" or page.id == "" %}
        <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/whoami.html">Whoami</a></li>
        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
        <li><a href="{{ site.baseurl }}/projets.html">Projets</a></li>
        {% endif %}
        {% if page.id == "/whoami" %}
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="active"><a href="{{ site.baseurl }}/whoami.html">Whoami</a></li>
        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
        <li><a href="{{ site.baseurl }}/projets.html">Projets</a></li>
        {% endif %}
        {% if page.id == "/blog" %}
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/whoami.html">Whoami</a></li>
        <li class="active"><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
        <li><a href="{{ site.baseurl }}/projets.html">Projets</a></li>
        {% endif %}
        {% if page.id == "/projets" %}
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/whoami.html">Whoami</a></li>
        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
        <li class="active"><a href="{{ site.baseurl }}/projets.html">Projets</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
