<nav>
  <ul>
    <li><a href="{{ site.baseurl }}/" class="menu">INDEX</a></li>                          <!-- Hub-->
    <li><a href="{{ site.baseurl }}/whoami.html" class="menu">WHOAMI</a></li>              <!-- Description + photo + CV -->
    <li><a href="{{ site.baseurl }}/blog.html" class="menu">BLOG</a></li>                  <!-- Partage, decouverte, actualité -->
    <li><a href="{{ site.baseurl }}/projets.html" class="menu">PROJETS</a></li>            <!-- Présentation de mes projets -->
  </ul>
</nav>
